<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.agoodidea.photoAlbum.mapper.AlbumMapper">


    <select id="getAlbumByType" resultType="com.agoodidea.photoAlbum.model.vo.AlbumVO">
        select a.id,
        a.album_name,
        a.cover_url,
        a.album_type,
        u.username as createby,
        a.bucket_name,
        a.create_time,
        u.avatar_url as createByAvatarUrl
        from album a
        left join user u on a.create_by = u.id
        <where>
            a.delete_flag = 0
            <if test="userId !=null and userId !='' ">
                and a.create_by = #{userId}
            </if>
            and a.album_type = #{type}
        </where>
        order by a.create_time desc
    </select>

    <select id="getAlbumById" resultType="com.agoodidea.photoAlbum.model.vo.AlbumVO">
        select a.id,
               a.album_name,
               a.max_user,
               a.user_num,
               a.remarks,
               a.cover_url,
               a.album_type,
               u.username   as createby,
               a.bucket_name,
               a.create_time,
               u.avatar_url as createByAvatarUrl
        from album a
                 left join user u on a.create_by = u.id
        where 1 = 1
          and a.id = #{albumId}
    </select>

</mapper>
